
* {
  margin: 0;
}
html, body {
  height: 100%;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
      background: #000000;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      box-shadow: inset 0 0 6px rgba(185, 185, 185, 0.692); 
  }
}

.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.control-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8694a0;
  color: white;
}

.menu-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  background: #000;
  &__history {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
}

.songs-items {
  position: absolute;
  bottom: 22px;
  width: 50%;
  right: 0px;
  padding-top: 10px;
  background: #000;
  max-height: 70vh;
  overflow-y: auto;
  transition: all 0.3s ease;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(99, 97, 97, 0.3); 
 
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      box-shadow: inset 0 0 6px rgba(202, 199, 199, 0.5); 
  }
  
}

.is-close {
  visibility: hidden;
  display: none;
}

.is-open {
  visibility: visible;
  display: block
}

.song-item {
  display: flex;
  border-bottom: 1px solid #1c2424;
  padding-bottom: 3px;
  padding-top: 3px;
  &__spotify-player {
    margin-left: 10px;
    margin-right: 15px;
  }
  &__title {
    font-size: 16px;
    p {
      font-size: 13px;
    }
  }
}

.station-selected {
  display: flex;
  background: #8694a0;

  &__info {
    h4 {
      padding-top: 5px;
    }
  }

  &__bitrate {
    display: flex;
    padding-top: 13px;
    text-transform: uppercase;
    padding-top: 5px;
  }

  &__bitrate-items {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
  }

  img {
    margin-right: 20px;
    height: 100px;
    width: 100px;
  }
}

.control {
  order: 4;
  position: absolute;
  display: flex;
  left: 184px;
  bottom: 21px;
  
  &__playing {
    width: 45px;
    height: 45px;
    outline: none;
    cursor: pointer;
    background: url('../src/icon/icon_player.png') no-repeat  -37px -2px;
    background-size: 294%;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    bottom: -15px;
    left: -63px;
    transition: all 0.3s;
  }

  &__paused {
    width: 45px;
    height: 45px; 
    outline: none;
    cursor: pointer;
    background: url('../src/icon/icon_player.png') no-repeat -1px -2px;
    background-size: 294%;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    bottom: -15px;
    left: -63px;
    transition: all 0.3s;
  }

  &__volume {
    position: relative;

    &--unmute {
      position: absolute;
      right: 60px;
      height: 50px;
      width: 50px;
      background: url('../src/icon/icon_player.png') no-repeat 10px -43px;
      background-size: 147px;
      
    }

    &--mute {
      position: absolute;
      right: 60px;
      height: 50px;
      width: 50px;
      opacity: 0.5;
      background: url('../src/icon/icon_player.png') no-repeat 10px -43px;
      background-size: 147px;
      &::before {
        position: absolute;
        bottom: 23px;
        right: -5px;
        content: '';
        width: 35px;
        height: 4px;
        border-radius: 3px; 
        background-color: white;
        transform: rotate(-45deg);
      }

    }
    
  } 

  &__volume--input {
    -webkit-appearance: none;
    width: 50px;
    height: 10px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
    }
  }  
}

.timer {
  margin-right: 10px;
  margin-top: 13px;
}

.progressBar {
  position: relative;
  width: 130px;
  height: 4px;
  background: rgba(255, 250, 250, 0.445);
  margin-top: 24px;
  margin-right: 20px;
  border-radius: 3px;
  overflow: hidden;

  &__percentage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 3px;
    background-color: #FFF;
    transition: all 0.3s;
  }

}

.category-container {
  display: flex;
  margin-bottom: 121px;
  flex-direction: column;
  background: #000;
}

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 1px solid darkslategray;
  background: linear-gradient(to right, #000000, #315766);
  cursor: pointer;
  h3 {
    color: #fff;
  }
  p {
    color: #fff
  }
}

.stations {
  display: flex;
  margin-bottom: 121px;
  flex-direction: column;
  background: #000;


}
.station {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid darkslategray;
  background: linear-gradient(to right, #000000, #315766);
  h5 {
    order: 2;
    color: white;
    font-size: 16px;

  }
  img {
    order: 1;
    margin-right: 20px;
    height: 70px;
    width: 70px;
  }
}

.fullsize-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
}
